In [10]:
import configparser
import os
import pyspark
from pyspark import SparkConf
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
import pyspark.sql.types as T
import pandas as pd
import matplotlib.pyplot as plt
from datetime import date, timedelta
from sqlalchemy import create_engine

In [11]:
config = configparser.ConfigParser()
config.read("capstone.cfg")

['capstone.cfg']

In [12]:
project_path = config["PATH"]["project"]
os.chdir(project_path)

Create spark session. Add driver postgress to enable to load from existing postgres DB

In [13]:
# add driver postgress to enable to load from existing postgres DB
spark = SparkSession \
    .builder \
    .appName("US_weather") \
    .config("spark.jars", "postgresql-42.2.18.jar")\
    .config( "spark.driver.extraClassPath", "postgresql-42.2.18.jar")\
    .getOrCreate()

Connect to postgres; read stations table from postgres DB "covid"

# Load data

## Read all stations from sql DB

In [69]:
%%time
#engine = create_engine('postgresql://scott:tiger@localhost:5432/mydatabase')
engine = create_engine('postgresql://sb:sb@localhost:5432/covid')
df_stations = pd.read_sql_table("stations", engine)

CPU times: user 252 ms, sys: 24 ms, total: 276 ms
Wall time: 576 ms

## Load filtered US weather stations

Only the stations yielding a valid measurement almost each day of 2020 are loaded.

In [70]:
df_filtered_stations = pd.read_csv("significant_stations.csv")

In [17]:
df_filtered_stations.head()

   Unnamed: 0   station_id measured  nb_days
0           0  US1MDHW0007     PRCP      366
1           1  US1MNSE0002     PRCP      366
2           2  USW00014820     TAVG      366
3           3  USC00132638     SNOW      355
4           4  USR0000CROC     TMIN      366

In [24]:
df_filtered_stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32738 entries, 0 to 32737
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32738 non-null  int64
 1   station_id  32738 non-null  object
 2   measured    32738 non-null  object
 3   nb_days     32738 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1023.2+ KB

# Find closest station to fips

In [71]:
def precompute_distance(l_ref):
    ''' 
    convert latitude and longitude to radian, and compute cos(latitude),
    which is necessary to compute the distance between any two GPS coordinates
    '''
    l_ref.rename(columns = {"latitude" : "latitude_degrees",
                           "longitude" : "longitude_degrees"
                          },
                inplace= True)
    def degree_to_radian(x):
        return  float(x)* np.pi / 180.
    l_ref["latitude_rad"] = l_ref["latitude_degrees"].apply( degree_to_radian) 
    l_ref["longitude_rad"] = l_ref["longitude_degrees"].apply( degree_to_radian)
    l_ref["cos_latitude"] = np.cos(l_ref["latitude_rad"])

In [72]:
precompute_distance(df_stations)

In [75]:
df_stations["latitude_degrees"].min(), df_stations["latitude_degrees"].max()

(18.9167, 71.3244)

In [76]:
df_stations["longitude_degrees"].min(), df_stations["longitude_degrees"].max()

(-178.0333, 179.2833)

For each element, list of the stations which give the element

In [77]:
l_measurements= ["SNOW", "SNWD", "PRCP", "TMAX", "TMIN", "TAVG"]

In [78]:
d_stations_per_element = {}
for element in l_measurements:
    d_stations_per_element[element] = pd.merge(
        df_filtered_stations[ df_filtered_stations["measured"] == element],
        df_stations, on = "station_id")\
        [ ["station_id", "latitude_rad", "longitude_rad", "cos_latitude"]].drop_duplicates()

In [79]:
for element, lst in d_stations_per_element.items():
    print(element, len(lst))

SNOW 3505
SNWD 3931
PRCP 11699
TMAX 5713
TMIN 5668
TAVG 2222

In [80]:
d_stations_per_element["TMAX"].head()

    station_id  latitude_rad  longitude_rad  cos_latitude
0  USW00024048      0.776966      -1.886390      0.713044
1  USW00094274      0.824974      -2.139357      0.678576
2  USS0005K27S      0.692198      -1.842893      0.769845
3  USC00339220      0.688038      -1.462973      0.772493
4  USS0045L01S      1.056797      -2.543817      0.491664

## US counties geographic info from Gazeeter

In [81]:
def counties_lat_long_(name):
    with open(name) as f :
        headers = f.readline().split()
        l_headers = len(headers)
        print("len of headers : ", l_headers )
        l_res = []
        for line in f :
            l_str = line.split()
            state = l_str[0]
            fips = l_str[1]
            latitude = l_str[-2]
            longitude = l_str[-1]
            l = len(l_str)
            n_words = l - l_headers + 1
            county = " ".join( l_str[3:3+n_words] )
            #d_res.setdefault(state, []).append( [ state, county, fips, latitude, longitude ])
            l_res.append( [state, county, fips, latitude, longitude ])
        return l_res

In [82]:
def counties_lat_long(name):
    l_gazeeter = counties_lat_long_(name)
    df_gazeeter = pd.DataFrame(l_gazeeter, columns = ["state", "county", "fips", "latitude", "longitude"])
    return df_gazeeter

In [83]:
data_root = os.path.join(project_path, 'DATA/')

In [84]:
gazeeter_counties= counties_lat_long( os.path.join(data_root,"2020_Gaz_counties_national.txt"))
print("number of counties from Gazeeter : ", len(gazeeter_counties))

len of headers :  10
number of counties from Gazeeter :  3221

In [85]:
precompute_distance(gazeeter_counties)

In [86]:
gazeeter_counties.head()

,state,county,fips,latitude_degrees,longitude_degrees,latitude_rad,longitude_rad,cos_latitude
0,AL,Autauga County,01001,32.532237,-86.64644,0.567795,-1.512266,0.843089
1,AL,Baldwin County,01003,30.659218,-87.746067,0.535104,-1.531458,0.860215
2,AL,Barbour County,01005,31.870253,-85.405104,0.556241,-1.490600,0.849246
3,AL,Bibb County,01007,33.015893,-87.127148,0.576236,-1.520656,0.838519
4,AL,Blount County,01009,33.977358,-86.56644,0.593017,-1.510869,0.829258

In [88]:
def closest_ref(l_ref, latitude, longitude, cos_latitude):
        ''' computation of angular distance between 2 locations given by GPS coordinates
        exact formulas (maybe overkill), taken from :
        https://www.movable-type.co.uk/scripts/latlong.html
        '''    
        # Haversine formula
        #print(l_ref.head())
        l_ref["delta_lat_term"] = ( np.sin( (l_ref["latitude_rad"] - latitude) * 0.5 ) )**2
        l_ref["delta_long_term"] = ( np.sin( (l_ref["longitude_rad"] - longitude) * 0.5) )**2
        l_ref["a"] = l_ref["delta_lat_term"] + l_ref["delta_long_term"] \
                        * cos_latitude * l_ref["cos_latitude"]
        l_ref["sqrt_a"] = l_ref["a"].apply( lambda x : np.sqrt(x) )
        l_ref["sqrt_1_a"] = l_ref["a"].apply(lambda x : np.sqrt(1.- x) )
        l_ref["angle"] = np.arctan2( np.sqrt(l_ref["a"]), np.sqrt( 1. - l_ref["a"] ) )
        closest = l_ref["angle"].idxmin()
        #print(closest)
        return closest, l_ref.iloc[closest]

In [89]:
import functools

In [90]:
def func_closest_station( df_row, df_stations):
    i, res = closest_ref( df_stations, df_row["latitude_rad"], df_row["longitude_rad"], df_row["cos_latitude"] )
    return res.loc[["station_id", "latitude_rad", "longitude_rad", "angle"]]

In [91]:
R_earth = 6371

!! approximately 11 min to complete

In [92]:
closeststation_per_element ={}
for element in l_measurements:
    element_function = functools.partial(func_closest_station, df_stations=d_stations_per_element[element])
    %time res = gazeeter_counties.apply(element_function, axis = 1)
    res["distance"] = R_earth * res["angle"]
    closeststation_per_element[element] = pd.concat( [ res, gazeeter_counties[ ["fips", "state", "county"] ]], axis = 1)

CPU times: user 1min 14s, sys: 240 ms, total: 1min 14s
Wall time: 1min 14s
CPU times: user 1min 27s, sys: 480 ms, total: 1min 27s
Wall time: 1min 27s
CPU times: user 3min 34s, sys: 488 ms, total: 3min 34s
Wall time: 3min 34s
CPU times: user 1min 44s, sys: 212 ms, total: 1min 44s
Wall time: 1min 44s
CPU times: user 1min 44s, sys: 168 ms, total: 1min 44s
Wall time: 1min 44s
CPU times: user 55.1 s, sys: 184 ms, total: 55.3 s
Wall time: 55.2 s

## Checks

In [101]:
closeststation_per_element["PRCP"].head()

,station_id,latitude_rad,longitude_rad,angle,distance,fips,state,county
0,USC00010823,0.570068,-1.513626,0.001273,8.110800,01001,AL,Autauga County
1,US1ALBW0079,0.533589,-1.533174,0.001058,6.740569,01003,AL,Baldwin County
2,US1ALBR0006,0.556456,-1.493721,0.001329,8.469317,01005,AL,Barbour County
3,USC00011100,0.576618,-1.518475,0.000934,5.950284,01007,AL,Bibb County
4,USC00016121,0.592127,-1.508333,0.001142,7.277017,01009,AL,Blount County

In [102]:
for e, l  in closeststation_per_element.items():
    #print(e, len(l), l["distance"].min(), l["distance"].max(), l["distance"].mean())
    print(e, len(l), l["distance"].describe())

SNOW 3221 count    3221.000000
mean       36.269465
std       145.481718
min         0.034007
25%         4.994360
50%        10.515585
75%        18.526782
max      1883.043157
Name: distance, dtype: float64
SNWD 3221 count    3221.000000
mean       37.063905
std       146.487759
min         0.034007
25%         5.124577
50%        10.684539
75%        18.826863
max      1883.043157
Name: distance, dtype: float64
PRCP 3221 count    3221.000000
mean       26.664799
std       125.366390
min         0.034007
25%         2.780726
50%         5.197121
75%         9.668999
max       866.766122
Name: distance, dtype: float64
TMAX 3221 count    3221.000000
mean       28.990521
std       125.070307
min         0.034007
25%         3.932953
50%         7.806336
75%        13.784000
max       866.766122
Name: distance, dtype: float64
TMIN 3221 count    3221.000000
mean       29.033890
std       125.063710
min         0.034007
25%         3.962441
50%         7.881755
75%        13.862159
max       866.766122
Name: distance, dtype: float64
TAVG 3221 count    3221.000000
mean       44.344266
std       125.247619
min         0.285814
25%        13.076908
50%        22.455073
75%        34.625655
max       876.599394
Name: distance, dtype: float64

## Output

In [107]:
closest_stations_allinfo ={} 
for element, l_stations in closeststation_per_element.items():
    closest_stations_allinfo[element] = pd.merge( l_stations, df_stations, on = "station_id")\
        .rename(columns = { "latitude_degrees" : "latitude_station", "longitude_degrees" : "longitude_station", 
                          "state_x" : "state_gazeeter", "state_y" : "state_station"})\
        [ ["fips",  "county", "state_gazeeter", 
           "station_id", "station_name", "state_station", "latitude_station", "longitude_station", "distance" ] ]

In [108]:
for element, l_stations in closest_stations_allinfo.items():
    out_name = os.path.join("OUT_DATA", f"closest_for_{element}.csv")
    l_stations.to_csv(out_name)

In [109]:
# convert to multi index
dfmi_closest_stations = pd.concat(closest_stations_allinfo.values(), keys = closeststation_per_element.keys())

In [111]:
dfmi_closest_stations

            fips                  county state_gazeeter   station_id  \
SNOW 0     01001          Autauga County             AL  USW00013895
     1     01047           Dallas County             AL  USW00013895
     2     01051           Elmore County             AL  USW00013895
     3     01085          Lowndes County             AL  USW00013895
     4     01003          Baldwin County             AL  USW00013838
...          ...                     ...            ...          ...
TAVG 3216  72133  Santa Isabel Municipio             PR  USW00012839
     3217  72141        Utuado Municipio             PR  USW00012839
     3218  72149      Villalba Municipio             PR  USW00012839
     3219  72151       Yabucoa Municipio             PR  USW00012839
     3220  72153         Yauco Municipio             PR  USW00012839

                                           station_name state_station  \
SNOW 0     MONTGOMERY AP                          72226            AL
     1     MONTGOMERY AP                          72226            AL
     2     MONTGOMERY AP                          72226            AL
     3     MONTGOMERY AP                          72226            AL
     4     MOBILE DWTN AP                                          AL
...                                                 ...           ...
TAVG 3216  MIAMI INTL AP                          72202            FL
     3217  MIAMI INTL AP                          72202            FL
     3218  MIAMI INTL AP                          72202            FL
     3219  MIAMI INTL AP                          72202            FL
     3220  MIAMI INTL AP                          72202            FL

           latitude_station  longitude_station    distance
SNOW 0              32.2997           -86.4075   17.114579
     1              32.2997           -86.4075   33.265523
     2              32.2997           -86.4075   20.686701
     3              32.2997           -86.4075   14.211241
     4              30.6264           -88.0681   15.511778
...                     ...                ...         ...
TAVG 3216           25.7906           -80.3164  839.529466
     3217           25.7906           -80.3164  815.878703
     3218           25.7906           -80.3164  830.342695
     3219           25.7906           -80.3164  859.654377
     3220           25.7906           -80.3164  814.772073

[19326 rows x 9 columns]

In [112]:
out_name = os.path.join("OUT_DATA", "closest_stations.csv")
dfmi_closest_stations.to_csv(out_name)

In [117]:
toto = pd.read_csv(out_name, index_col = [0,1])#, skipinitialspace=True)
toto

            fips                  county state_gazeeter   station_id  \
SNOW 0      1001          Autauga County             AL  USW00013895
     1      1047           Dallas County             AL  USW00013895
     2      1051           Elmore County             AL  USW00013895
     3      1085          Lowndes County             AL  USW00013895
     4      1003          Baldwin County             AL  USW00013838
...          ...                     ...            ...          ...
TAVG 3216  72133  Santa Isabel Municipio             PR  USW00012839
     3217  72141        Utuado Municipio             PR  USW00012839
     3218  72149      Villalba Municipio             PR  USW00012839
     3219  72151       Yabucoa Municipio             PR  USW00012839
     3220  72153         Yauco Municipio             PR  USW00012839

                                           station_name state_station  \
SNOW 0     MONTGOMERY AP                          72226            AL
     1     MONTGOMERY AP                          72226            AL
     2     MONTGOMERY AP                          72226            AL
     3     MONTGOMERY AP                          72226            AL
     4     MOBILE DWTN AP                                          AL
...                                                 ...           ...
TAVG 3216  MIAMI INTL AP                          72202            FL
     3217  MIAMI INTL AP                          72202            FL
     3218  MIAMI INTL AP                          72202            FL
     3219  MIAMI INTL AP                          72202            FL
     3220  MIAMI INTL AP                          72202            FL

           latitude_station  longitude_station    distance
SNOW 0              32.2997           -86.4075   17.114579
     1              32.2997           -86.4075   33.265523
     2              32.2997           -86.4075   20.686701
     3              32.2997           -86.4075   14.211241
     4              30.6264           -88.0681   15.511778
...                     ...                ...         ...
TAVG 3216           25.7906           -80.3164  839.529466
     3217           25.7906           -80.3164  815.878703
     3218           25.7906           -80.3164  830.342695
     3219           25.7906           -80.3164  859.654377
     3220           25.7906           -80.3164  814.772073

[19326 rows x 9 columns]